---
title: "Explore relationship"
prerequisites:
    - data/processed/data.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_processed &lt;- file.path(path_proj, &quot;data&quot;, &quot;processed&quot;)
data &lt;- readRDS(file.path(path_processed, &quot;data.rds&quot;))</code></pre>
</div>
<div id="relationship-with-covariate" class="section level2">
<h2>Relationship with covariate</h2>
<pre class="r"><code>ggplot(data, aes(group, y, fill = group)) +
    geom_violin()</code></pre>
<p><img src="/project-web/40-explore/explore_files/figure-html/unnamed-chunk-2-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="relationship-with-covariate-1" class="section level2">
<h2>Relationship with covariate</h2>
<pre class="r"><code>ggplot(data, aes(x, y)) +
    geom_point(aes(col = group)) +
    geom_smooth(aes(group = group))</code></pre>
<pre><code>#&gt; `geom_smooth()` using method = &#39;loess&#39; and formula &#39;y ~ x&#39;</code></pre>
<p><img src="/project-web/40-explore/explore_files/figure-html/unnamed-chunk-3-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
