---
title: "Transform covariate"
prerequisites:
    - data/cleaned/data.rds
targets:
    - data/processed/data.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_cleaned &lt;- file.path(path_proj, &quot;data&quot;, &quot;cleaned&quot;)
path_processed &lt;- file.path(path_proj, &quot;data&quot;, &quot;processed&quot;)
data &lt;- readRDS(file.path(path_cleaned, &quot;data.rds&quot;))</code></pre>
</div>
<div id="make-covariate-transformation" class="section level2">
<h2>Make covariate transformation</h2>
<pre class="r"><code>data &lt;- transform(data, x = x ^ 2)</code></pre>
</div>
<div id="visualize" class="section level2">
<h2>Visualize</h2>
<pre class="r"><code>ggplot(data, aes(x, y)) +
    geom_point(aes(col = group))</code></pre>
<p><img src="/project-web/30-process/process_files/figure-html/unnamed-chunk-3-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="save-data" class="section level2">
<h2>Save data</h2>
<pre class="r"><code>saveRDS(data, file.path(path_processed, &quot;data.rds&quot;))</code></pre>
</div>
