---
title: "Extract data"
targets:
    - data/raw/data.rds
---



<div id="define-paths-of-the-project" class="section level2">
<h2>Define paths of the project</h2>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_raw &lt;- file.path(path_proj, &quot;data&quot;, &quot;raw&quot;)</code></pre>
</div>
<div id="we-will-simply-simulate-some-data-for-this-example" class="section level2">
<h2>We will simply simulate some data for this example</h2>
<pre class="r"><code>n &lt;- 1000
x &lt;- rnorm(n, 10, 3)
group &lt;- sample(1:4, n, replace = TRUE)
group_effect &lt;- 1:4 * 5
y &lt;- rnorm(n, mean = 2 * x + group_effect[group], sd = 1)
data &lt;- data.frame(y, x, group)</code></pre>
</div>
<div id="save-data" class="section level2">
<h2>Save data</h2>
<pre class="r"><code>saveRDS(data, file.path(path_raw, &quot;data.rds&quot;))</code></pre>
</div>
