---
title: "Linear model"
prerequisites:
    - data/processed/data.rds
targets:
    - data/modelled/10-lm.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_processed &lt;- file.path(path_proj, &quot;data&quot;, &quot;processed&quot;)
path_modelled &lt;- file.path(path_proj, &quot;data&quot;, &quot;modelled&quot;)
data &lt;- readRDS(file.path(path_processed, &quot;data.rds&quot;))</code></pre>
</div>
<div id="linear-model" class="section level2">
<h2>Linear model</h2>
<pre class="r"><code>lm &lt;- lm(y ~ x + group, data)</code></pre>
</div>
<div id="diagnostic" class="section level2">
<h2>Diagnostic</h2>
<pre class="r"><code>par(mfrow = c(2, 2))
plot(lm)</code></pre>
<p><img src="/project-web/50-model/10-lm_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="save-model" class="section level2">
<h2>Save model</h2>
<pre class="r"><code>saveRDS(lm, file.path(path_modelled, &quot;10-lm.rds&quot;))</code></pre>
</div>
