---
title: "Additive linear model"
prerequisites:
    - data/processed/data.rds
targets:
    - data/modelled/10-gam.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(mgcv)</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_processed &lt;- file.path(path_proj, &quot;data&quot;, &quot;processed&quot;)
path_modelled &lt;- file.path(path_proj, &quot;data&quot;, &quot;modelled&quot;)
data &lt;- readRDS(file.path(path_processed, &quot;data.rds&quot;))</code></pre>
</div>
<div id="linear-model" class="section level2">
<h2>Linear model</h2>
<pre class="r"><code>gam &lt;- gam(y ~ s(x) + group, data = data)</code></pre>
</div>
<div id="diagnostic" class="section level2">
<h2>Diagnostic</h2>
<pre class="r"><code>gam.check(gam)</code></pre>
<p><img src="/project-web/50-model/20-gam_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre><code>#&gt; 
#&gt; Method: GCV   Optimizer: magic
#&gt; Smoothing parameter selection converged after 9 iterations.
#&gt; The RMS GCV score gradient at convergence was 2.325846e-06 .
#&gt; The Hessian was positive definite.
#&gt; Model rank =  13 / 13 
#&gt; 
#&gt; Basis dimension (k) checking results. Low p-value (k-index&lt;1) may
#&gt; indicate that k is too low, especially if edf is close to k&#39;.
#&gt; 
#&gt;        k&#39;  edf k-index p-value  
#&gt; s(x) 9.00 8.62    0.96   0.075 .
#&gt; ---
#&gt; Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1</code></pre>
</div>
<div id="save-model" class="section level2">
<h2>Save model</h2>
<pre class="r"><code>saveRDS(gam, file.path(path_modelled, &quot;20-gam.rds&quot;))</code></pre>
</div>
