---
title: "Summarised result from selected model"
prerequisites:
    - data/modelled/20-gam.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(mgcv)</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_modelled &lt;- file.path(path_proj, &quot;data&quot;, &quot;modelled&quot;)
model &lt;- readRDS(file.path(path_modelled, &quot;20-gam.rds&quot;))</code></pre>
</div>
<div id="results-plots" class="section level2">
<h2>Results: Plots</h2>
<pre class="r"><code>plot(model)</code></pre>
<p><img src="/project-web/60-summarise/tables_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="results-tables" class="section level2">
<h2>Results: Tables</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Family: gaussian 
#&gt; Link function: identity 
#&gt; 
#&gt; Formula:
#&gt; y ~ s(x) + group
#&gt; 
#&gt; Parametric coefficients:
#&gt;             Estimate Std. Error t value Pr(&gt;|t|)    
#&gt; (Intercept) 24.61130    0.06516  377.72   &lt;2e-16 ***
#&gt; groupB       5.05832    0.09091   55.64   &lt;2e-16 ***
#&gt; groupC      10.08631    0.09287  108.61   &lt;2e-16 ***
#&gt; groupD      15.03448    0.09059  165.97   &lt;2e-16 ***
#&gt; ---
#&gt; Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
#&gt; 
#&gt; Approximate significance of smooth terms:
#&gt;        edf Ref.df    F p-value    
#&gt; s(x) 8.625   8.96 3800  &lt;2e-16 ***
#&gt; ---
#&gt; Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
#&gt; 
#&gt; R-sq.(adj) =  0.985   Deviance explained = 98.6%
#&gt; GCV = 1.0394  Scale est. = 1.0263    n = 1000</code></pre>
</div>
