---
title: "Clean groups data"
prerequisites:
    - data/raw/data.rds
    - src/21-clean-group.R
targets:
    - data/cleaned/data.rds
---



<div id="define-paths-of-the-project-and-read-data" class="section level2">
<h2>Define paths of the project and read data</h2>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_raw &lt;- file.path(path_proj, &quot;data&quot;, &quot;raw&quot;)
path_cleaned &lt;- file.path(path_proj, &quot;data&quot;, &quot;cleaned&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;21-clean-group.R&quot;))

data &lt;- readRDS(file.path(path_raw, &quot;data.rds&quot;))</code></pre>
</div>
<div id="clean-groups-variable" class="section level2">
<h2>Clean groups variable</h2>
<pre class="r"><code>data &lt;- clean_group(data)</code></pre>
</div>
<div id="visualize" class="section level2">
<h2>Visualize</h2>
<pre class="r"><code>ggplot(data, aes(x, y)) +
    geom_point(aes(col = group))</code></pre>
<p><img src="/project-web/20-clean/clean_files/figure-html/unnamed-chunk-3-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="save-data" class="section level2">
<h2>Save data</h2>
<pre class="r"><code>saveRDS(data, file.path(path_cleaned, &quot;data.rds&quot;))</code></pre>
</div>
